* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #cccccc;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #cccccc;
    padding-bottom: 40px;
}

.main {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-spacing: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #4a4a4a;
}

table {
    border-spacing: 0;
    width: 100%;
}

td {
    padding: 0;
}

img {
    border: 0;
}

h2 {
    font-weight: bolder;
}

.icons {
    text-align: center;
    padding: 8px 0 4px;
    background-color: #eaf6fb;
    border-top: 2px solid #21c6b8;
    border-bottom: 3px solid #21c6b8;
}

.logo {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.banner {
    max-width: 100%;
    width: 600;
    padding: 15px;
    padding-top: 0;
}

.two-columns {
    font-size: 0;
    text-align: center;
    padding: 35px 0 40px;
}

.double {
    padding: 20px;
}

.columns {
    width: 100%;
    display: inline;
}

.left {
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}

.image-left {
    width: 260px;
    max-width: 260px;
}

.left-button {
    background-color: #1e547b;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
}

#internal {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    padding-bottom: 15px;
}

.right {
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}

.image-right {
    width: 260px;
    max-width: 260px;
}

.right-button {
    background-color: #1e547b;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.content {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 600px) {

}